<h3>Educacion</h3>
<ul *ngFor ="let escuela of education">
 <li>
    <tr>
        <td>
            {{escuela.fecha}}
        </td>

    </tr>
    <tr>
        <td>
            {{escuela.lugar}}
        </td>
    </tr>
    <tr>
        <td>
            {{escuela.nombre}}
        </td>
    </tr>

    <tr>
        <td>
            {{escuela.estudio}}
        </td>
    </tr>
 </li>

</ul>

<p>    <a href="https://drive.google.com/drive/u/0/folders/1xuGueh-lkNQVb9rX_uh_7K2emuzhpBHR">CURSO PYTHON EN KAGLE</a> </p>
    <a href="https://drive.google.com/drive/u/0/folders/1xuGueh-lkNQVb9rX_uh_7K2emuzhpBHR">CURSO PANDAS KAGLE</a>
