<table border="1">
  <tr>
    <td colspan="2"> <app-header> </app-header></td>
  </tr>
  <tr>

    <td> <app-work-experience></app-work-experience> <app-education></app-education></td>


    <td> <p>CURSOS COMPLETADOS</p> <img  alt="curso en kaggle" src="https://raw.githubusercontent.com/jairH3110/Cursos-kagle-ejercicios/main/curso-pandas-kagle/Jair%20Herrera%20-%20Pandas.png"   width="300" height="370"  > 
      <img alt="curso en kaggle"    width="300" height="370" src="https://raw.githubusercontent.com/jairH3110/Cursos-kagle-ejercicios/main/curso-python-kagle/Jair%20Herrera%20-%20Python.png">  <app-skills></app-skills> <app-logros></app-logros>  <app-lenguajes></app-lenguajes> <app-intereses></app-intereses> </td>



  </tr>
</table>
